# Extra Practise - Basics

In this optional practise session, I thought it would be fun to look at some cost of living data from, you guessed it, Kaggle: https://www.kaggle.com/stephenofarrell/cost-of-living

Here are the objectives:

1. Rename the "index" column to "location"
2. Utilise apply to generate two new columns from the location - city and country
3. Realise the easy solution doesn't doesnt work for the United States and create a function for apply to remove specific states.
3. Figure out which country has the most cities listed, and create a dataset from only that country
4. Sort the dataset by the cost of living 'Apartment (1 bedroom) in City Centre'
5. Cry over housing prices if you live in the Bay Area.

After that, feel free to keep playing with the data yourself.

In [5]:
# Code to start you off and manipulate the data. .T is transpose - swap columns and rows
import pandas as pd

df = pd.read_csv("cost-of-living.csv", index_col=0).T.reset_index()
df2 = df.copy()
#df.head(2)

## Rename column  v

In [6]:
#POSSIBILITYS

#df2 = df2.rename({'index' :'location'}, axis=1)  # new method
#df2 = df2.rename({'index' :'location'}, axis='columns')
#df2 = df2.rename(columns={'index' :'location'})

df2 = df.rename(columns={'index' :'location'})

## Get city and country

In [7]:
# n (columns ) = lenght keys , as [ 'City', 'Country'] ==  n 1
df2[['City', 'Country']] = df2.location.str.split(",", n= 1 ,expand=True)

In [8]:
df2.Country = df2.Country.apply(lambda x: x if not ',' in x else x.split(',')[-1]) # check -1

## Figure out which country has the most cities

In [9]:
df2.Country.value_counts()

 United States    13
 India            11
 Canada            8
 Poland            6
 Romania           5
                  ..
 South Korea       1
 Denmark           1
 Slovenia          1
 Sri Lanka         1
 Ecuador           1
Name: Country, Length: 82, dtype: int64

## Create a subset of only that country

In [26]:
most_cities = df2.Country.value_counts().index[0]

df3 = df2[df2.Country == most_cities]
df3.columns.all

<bound method Index.all of Index(['location', 'Meal, Inexpensive Restaurant',
       'Meal for 2 People, Mid-range Restaurant, Three-course',
       'McMeal at McDonalds (or Equivalent Combo Meal)',
       'Domestic Beer (0.5 liter draught)',
       'Imported Beer (0.33 liter bottle)', 'Coke/Pepsi (0.33 liter bottle)',
       'Water (0.33 liter bottle) ', 'Milk (regular), (1 liter)',
       'Loaf of Fresh White Bread (500g)', 'Eggs (regular) (12)',
       'Local Cheese (1kg)', 'Water (1.5 liter bottle)',
       'Bottle of Wine (Mid-Range)', 'Domestic Beer (0.5 liter bottle)',
       'Imported Beer (0.33 liter bottle)', 'Cigarettes 20 Pack (Marlboro)',
       'One-way Ticket (Local Transport)',
       'Chicken Breasts (Boneless, Skinless), (1kg)',
       'Monthly Pass (Regular Price)', 'Gasoline (1 liter)', 'Volkswagen Golf',
       'Apartment (1 bedroom) in City Centre',
       'Apartment (1 bedroom) Outside of Centre',
       'Apartment (3 bedrooms) in City Centre',
       'Apartment (3 bedrooms) Outside of Centre',
       'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
       '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'Fitness Club, Monthly Fee for 1 Adult',
       'Tennis Court Rent (1 Hour on Weekend)',
       'Cinema, International Release, 1 Seat',
       '1 Pair of Jeans (Levis 501 Or Similar)',
       '1 Summer Dress in a Chain Store (Zara, H&M, ...)',
       '1 Pair of Nike Running Shoes (Mid-Range)',
       '1 Pair of Men Leather Business Shoes',
       'Price per Square Meter to Buy Apartment in City Centre',
       'Price per Square Meter to Buy Apartment Outside of Centre',
       'Average Monthly Net Salary (After Tax)',
       'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
       'Taxi Start (Normal Tariff)', 'Taxi 1km (Normal Tariff)',
       'Taxi 1hour Waiting (Normal Tariff)', 'Apples (1kg)', 'Oranges (1kg)',
       'Potato (1kg)', 'Lettuce (1 head)', 'Cappuccino (regular)',
       'Rice (white), (1kg)', 'Tomato (1kg)', 'Banana (1kg)', 'Onion (1kg)',
       'Beef Round (1kg) (or Equivalent Back Leg Red Meat)',
       'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)',
       'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
       'International Primary School, Yearly for 1 Child', 'City', 'Country'],
      dtype='object')>

## Sort by housing accommodation

In [43]:
col = "Apartment (1 bedroom) in City Centre"
#df2.sort_index(['Apartment (1 bedroom) in City Centre'])
df4 = df3.sort_values(col, ascending = False)

df4[['City', col]]

              City  Apartment (1 bedroom) in City Centre
100  San Francisco                               3131.06
78        New York                               2854.26
47          Boston                               2275.95
71     Los Angeles                               1980.11
102        Seattle                               1919.17
99       San Diego                               1816.10
48         Chicago                               1702.25
38          Austin                               1581.66
88        Portland                               1399.80
53          Dallas                               1322.45
62         Houston                               1258.81
86         Phoenix                               1092.25
69       Las Vegas                                992.86

## Despair over the cost of housing